* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  color: rgb(51, 51, 51);
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(170, 170, 170);
}

.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.color h2 {
  font-size: 2.5rem;
  cursor: pointer;
  color: white;
}

.adjust-center {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  background: white;
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  transform: translateY(0px);
  transition: all 0.5s ease-in-out;
  pointer-events: all;
  opacity: 1;
}

.adjust-center.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

.adjust-close {
  position: absolute;
  right: 0;
  top: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background: rgb(75, 75, 75);
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
}

.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: rgb(31, 33, 63);
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.panel p {
  font-size: 2rem;
}

.library,
.generate,
.save {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust,
.lock {
  font-size: 3rem;
  color: black;
  cursor: pointer;
  border: none;
  margin: 2rem 0rem;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  border-radius: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgb(119, 115, 115);
  margin-top: -4px;
}
